#map {
    background: url(https://static.travelconline.com/themes/MOmWhCF23lDh-5b10f3f95bfd30.jpg)  ;
    height: 25rem;
}

#list{
    padding-left: 100px;
    padding-right: 100px;
}


#places {
    padding-left: 100px;
    padding-right: 100px;
}
.textarea {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
    /* height: auto; */
    /* width: 100rem; */
    /* margin-right: 4rem; */
    margin-top: 5rem;
    color: white;
    /* padding: 90px; */
    /* margin-right: 10rem; */
}
.textbox {
    padding: 2rem;
}

.btn{
    background: #DC001B;
    color: #FFFFFF;
    border-radius: 0;
}

#list .btn {
    background: #DC001B;
    color: #FFFFFF;
    font-size: 9px;
    margin: 2px;
    height: 27px;
    width: 70.16px;
    padding: 5px 15px;
    border-radius: 0;
}

#list .text-uppercase{
    color: #999999;
    font-size: 18px;
    margin-top: 0px;
}

#list .mapping{
    color: #999999;
    font-size: 18px;
    margin-top: 10px;;
}

.footer {
    margin-top: 60px;
    background: #f0b600;
 }

.img-fluid {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

style{
    width: 100%;
}
/* .col-4-footer {
    width: 33.33%;
    float: left;
    margin-top: 77px;
    
    padding: 30px;
}  */

.row-active{
    background:linear-gradient(rgba(153, 153, 153,.3),rgba(153, 153, 153,.3));
}

#list .text-uppercase{
    margin-left: 10px;
}

.list-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pic-name {
    position: absolute;
    top: 10rem;
    padding: 10px;
    height: 39px;
    width: 289px;
    font-size: 16px;
    color: azure;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.4))
}


.item{
    height: 196px;
    width: 289px;
    margin: 2px 2px 2px;
    font-size: 16px;
}

.img-file{
    width: 289px;
    height: 196px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    width: 95.2px;
    height: 19px;
    font-size: 14px;
    margin-left: 30px;
}

.cr .me{

}

.cr:after,
.me:after {
    content: ""; 
    width: 95.2px;
    height: 19px;
    font-size: 14px;
    border: 1px solid #555555; 
    margin-left: 10px;
}

@media screen and (max-width: 1068px) {
    #map {
        height: 30rem;
    }
    
    #list{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #places {
        padding-left: 0px;
        padding-right: 0px;
    }
    .item{
        height: 196px;
        width: 289px;
        font-size: 16px;
        margin: 2px 2px 2px;
    }


    .inline{
        display: inline-block;
        font-size: 14px;
    }

    .cr .me{

    }
    .cr:after,
.me:after {
    border: 0px;
}

.row-active{
    background: none
}

}